
.write-container {
    width: 80%;
    margin: 100px auto;
    padding: 20px;
    background-color:rgb(4, 45, 47) ;
  }
.write-container h1{
    font-size: 50px;
    font-weight: 600;
    margin: 20px 0 ;
    
  }
  
  
  .write-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    /* border: 2px solid red; */
  }
  .form-group label {
   font-size: 25px;
   color: rgb(78, 224, 250);
  }
  
  .formtext {
    min-width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .add-blog-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .add-blog-button:hover {
    background-color: #0056b3;
  }
  .user-info{
    border: 2px solid white ;
    padding: 5px;
    color: white;
    line-height: 35px;
    border-radius: 5px;
  }
  